<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/theme.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mohammad Rashidi List</title>
</head>
<body>
    <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="./home.html">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="./storefront.html">Store Front</a>
                            <a class="nav-item nav-link" href="./audio.html">Audio</a>
                            <a class="nav-item nav-link" href="./list.html">List</a>
                            <a class="nav-item nav-link" href="./table.html">Table</a>
                            <a class="nav-item nav-link" href="./video.html">Video</a>
                
                        </div>
                    </div>
                </nav>
    </header>
    <div class="row align-items-center" style=" margin:auto;text-align: center;">
        <div class="col-md-6">
            <h2>Welcome to a page with a list and some basic information</h2>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Basic Information About me:</h3>
    </div>
    <div class="col-md-6">
        <p>My name is Mohammad Rashidi. I'm an international student from Iran studying computer programming at Seneca. <br>
        I'm currently enrolled in the CPP program in my 3rd <br>
        My student Number is: 134713213 <br>
        Some of my hobbies include going to the gym and watching Formula 1. 
        </p>
    </div>
    <div class="text-success">
        <hr class="border border-danger border-2 opacity-50">
    </div>
    <div class="col-md-6">
        <h3>A list of healthy food choices:</h3>
    </div>
    <ul>
        <li>Coffee (Ranked in Order)
            <ol>
                <li>McDonalds</li>
                <li>Tim's</li>
                <li>Starbucks</li>
            </ol>
        </li>
        <li>Tea
          <ul>
            <li>Black tea</li>
            <li>Green tea</li>
          </ul>
        </li>
        <li>Milk
            <ol>
                <li>Almond Milk</li>
                <li>Soy Milk</li>
                <li>Cow Milk</li>
            </ol>
        </li>
        <li>Wine
            <ul>
                <li>Red Wine</li>
                <li>White Wine</li>
                <li>Rose</li>
            </ul>
        </li>
      </ul>
</body>

<footer>

    <p>Website By Mohammad Rashidi &copy</p>
</footer>
</html>