<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/theme.css">
    <title>Store Front</title>
</head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="./home.html">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="./storefront.html">Store Front</a>
                    <a class="nav-item nav-link" href="./audio.html">Audio</a>
                    <a class="nav-item nav-link" href="./list.html">List</a>
                    <a class="nav-item nav-link" href="./table.html">Table</a>
                    <a class="nav-item nav-link" href="./video.html">Video</a>
    
                </div>
            </div>
        </nav>
    </header>
<body>
    <h2 class="text-center mt-3">Mohammad's Store</h2>
    
    <div class="d-flex justify-content-center flex-wrap">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/570.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">McLaren 570</p>
                <p class="card-text">$195,000</p>

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/2022-tesla-model-s-plaid-mmp-1-1628541250.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Tesla Model S </p>
                <p class="card-text">$130,000</p>
        
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/buyers_guide_-_mclaren_p1_2014_-_front_quarter.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">MacLaren P1</p>
                <p class="card-text">$1,000,000</p>
        
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/c-class.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Mercedes C Class</p>
                <p class="card-text">$95,000</p>
        
            </div>
        </div>
        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="../public/images/g-class.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Mercedes g Class</p>
                <p class="card-text">$295,000</p>
        
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/glc.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Mercedes GLC</p>
                <p class="card-text">$75,000</p>
        
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/golf.webp" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">WV Golf</p>
                <p class="card-text">$35,000</p>
        
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/PCGB21_1364_fine.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Porsche 911</p>
                <p class="card-text">$125,000</p>
        
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/x5.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">BMW X5</p>
                <p class="card-text">$115,000</p>
        
            </div>
        </div>
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../public/images/download.jpeg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Tesl Model X</p>
                <p class="card-text">$185,000</p>
        
            </div>
        </div>
                
        
    </div>
</body>

<footer>

    <p>Website By Mohammad Rashidi &copy</p>
</footer>
</html>