<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mohammad Rashidi Video</title>
</head>

<body>
    <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="./home.html">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="./storefront.html">Store Front</a>
                            <a class="nav-item nav-link" href="./audio.html">Audio</a>
                            <a class="nav-item nav-link" href="./list.html">List</a>
                            <a class="nav-item nav-link" href="./table.html">Table</a>
                            <a class="nav-item nav-link" href="./video.html">Video</a>
                
                        </div>
                    </div>
                </nav>
        <div class="row align-items-center" style=" margin:auto;text-align: center;">
            <div class="col-md-6">
                <h2>This page has a simple HTML Video player</h2>
            </div>
        </div>
    </header>
    <video width="320" height="240" controls>
        <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4" type="video/mp4">
        <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <div class="text-success">
        <hr class="border border-danger border-2 opacity-50">
    </div>

    <div class="col-md-6">
        <p>This page containes an HTML video element. <br>
            we provide two sources for the video incase that one runs into an issue or is not supported by a browser.



        </p>
    </div>

</body>

<footer>

    <p>Website By Mohammad Rashidi &copy</p>
</footer>

</html>